.background-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../Assets/login.jpg') center/cover no-repeat fixed;
    filter: grayscale(100%) brightness(0.2); /* Adjust brightness for darkness */
  }
  
  .overlay-content {
    color: white;
    text-align: center;
    font-size: 24px;
    position: relative;
    z-index: 1;
  }