.center{
    display: flex;
    justify-content: center;
}

.itemContainers{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3%;
    padding: 2%;
    background-color: white;
}

.padding{
    padding: 4%;
}

.imagSize{
    width: 100%;
    height: auto; 
}

.sport{
    font-size: medium;
    color: rgb(7, 48, 151)
}

.name{
    font-size: larger;
    font-weight: bolder;
}

.collection{
    font-size: small;
    font-weight: 400;
}

.bordertop{
    border: 1px solid rgb(222, 208, 208);
    margin-bottom: 5px;
}

.bg{
    background-color: rgb(78, 6, 6);
}

.bt{
    border-bottom: 1px solid rgb(179, 175, 175);
}
