.textbox{
    margin-top: 5%;
    margin-bottom: 5%;
}

.cardpad{
    margin: 3%;
}

.forget{
    font-size: small;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.returnHome{
    font-size: small;
    cursor: pointer;
}

.textsize{
    font-size: small;
}