.justify-content-end{
    display: flex;
    justify-content: right;
    margin-bottom: 2px;
    margin-top: 2px;
}

.classLink{
    margin: 10px;
}

.navtext{
    display: flex;
    align-items: center;
}

.font{
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

.imgSize{
    width: 20px;
    height: 20px;
}
